<html>
<head>
  <title>calculate your puzzles</title>
</head>

<body align=center>

 


<form action="http://127.0.0.1:5000/result", method="post"">
 <fieldset>
<legend>Calculator:</legend>
First number:<br>
<input type="number" name="firstnumber" value="enter your first digit " >
<br>
Second number:<br>
<input type="number" name="secnumber" value="enter your second digit " >

<br>
Enter your choice:
 <select name="option">
<option value="Add">ADD</option>
<option value="Sub">Subtract</option>
<option value="Mult">Multiply</option>
<option value="div">Division</option>
</select>


<br><br>
<input type="submit" value="Submit">
</fieldset>
</form> 

</body>

</html>

